.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}


@media only screen and (max-width: 600px) {
    .background-image {
        background-image: url('../../starter-code/assets/images/pattern-background-mobile-light.svg');
    }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .background-image {
        background-image: url('../../starter-code/assets/images/pattern-background-tablet-light.svg');
    }
}

@media only screen and (min-width: 1201px) {
    .background-image {
        background-image: url('../../starter-code/assets/images/pattern-background-desktop-light.svg');
    }
}

@font-face {
    font-family: 'rubik';
    src: url('../../starter-code/assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'rubik-italic';
    src: url('../../starter-code/assets/fonts/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
}

.font-rubik {
    font-family: rubik;
}

.font-rubik-italic {
    font-family: rubik-italic;
}

body {
    font-family: 'rubik', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
}

.nav {
    width: 80%;
    height: 100px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-item {
    height: 50px;
    display: flex;
}

.nav-item:first-child {
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.nav-item:last-child {
    height: auto;
}

.content {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 5rem;
}

.wrapper-item {
    display: flex;
    flex-flow: nowrap column;
    flex: 1;
}

.wrapper-item:last-child
{
    align-items: center;
}

.title {
    font-weight: lighter;
    font-size: 4rem;
    margin-top: 0px;
    padding-top: 0px;
}

.title > span {
    font-weight: bold;
}

.main-list {
    display: flex;
    flex-flow: nowrap column;
    list-style: none;
    width: 80%;
    gap: 1rem;
}

.main-list > li {
    border-color: black;
    border-width: 2px;
    background-color: white;
    border-radius: 10px;
    padding: 0px 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.icon-button {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon-button > img {
    height: 30px;
}

