<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="wrapper-item">
            <h2 class="subtitle-question font-rubik-italic">
                Frontend Quiz!
            </h2>
            <h2 class="subtitle">
                What does HTML stand for?
            </h2>
        </div>
        <div class="wrapper-item">

        </div>
    </div>
</body>
</html>